@media (max-width: 767px) {
  html {
    font-size: $f-base-size - 2px;
  }
  .introduction-section {
    background-color: $small-color;
    color: #fff;
    .col-one {
    }
    .col-two {
      background-color: transparent;
    }
    .col-three {
      background-color: transparent;
    }
  }
}